In [1]:
import pandas as pd
from debugpy.adapter.components import missing

### Read data from CSV file into dataframe

In [2]:
df_csv = pd.read_csv("sales_data_sample.csv", encoding="latin1")
print(df_csv)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns]

### Read data from JSON file into dataframe

In [3]:
df_json = pd.read_json("sample_Data.json")
print(df_json)

    id                                               name  \
0    1                                    Apple iPhone 12
1    2                                 Samsung Galaxy S21
2    3                                 Sony PlayStation 5
3    4                  LG OLED55CXPUA 55-inch 4K OLED TV
4    5        Bose QuietComfort 35 II Wireless Headphones
5    6                          Fitbit Versa 3 Smartwatch
6    7                             KitchenAid Stand Mixer
7    8                 Dyson V11 Absolute Cordless Vacuum
8    9                         Ninja Foodi Smart XL Grill
9   10                    Canon EOS Rebel T8i DSLR Camera
10  11                                  Apple AirPods Pro
11  12        Bose QuietComfort 35 II Wireless Headphones
12  13                    Fitbit Charge 4 Fitness Tracker
13  14                              Samsung Galaxy Watch3
14  15  Sony WH-1000XM4 Wireless Noise-Cancelling Head...
15  16          Breville Barista Express Espresso Machine
16  17                        Keurig K-Elite Coffee Maker
17  18                     iRobot Roomba i7+ Robot Vacuum
18  19                   Ninja Foodi Digital Air Fry Oven
19  20                   Cuisinart ICE-70 Ice Cream Maker

                                          description    price  \
0   The Apple iPhone 12 features a 6.1-inch Super ...   999.00
1   The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
2   The Sony PlayStation 5 features an AMD Zen 2-b...   499.99
3   The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
4   The Bose QuietComfort 35 II Wireless Headphone...   299.00
5   The Fitbit Versa 3 Smartwatch features a built...   229.95
6   The KitchenAid Stand Mixer features a 5-quart ...   399.99
7   The Dyson V11 Absolute Cordless Vacuum feature...   699.99
8   The Ninja Foodi Smart XL Grill features 6-in-1...   279.99
9   The Canon EOS Rebel T8i DSLR Camera features a...   899.00
10  The Apple AirPods Pro feature active noise can...   249.00
11  The Bose QuietComfort 35 II Wireless Headphone...   299.00
12  The Fitbit Charge 4 Fitness Tracker features G...   129.95
13  The Samsung Galaxy Watch3 features a rotating ...   399.99
14  The Sony WH-1000XM4 Wireless Noise-Cancelling ...   349.99
15  The Breville Barista Express Espresso Machine ...   699.95
16  The Keurig K-Elite Coffee Maker features a str...   169.99
17  The iRobot Roomba i7+ Robot Vacuum features au...   799.99
18  The Ninja Foodi Digital Air Fry Oven features ...   209.99
19  The Cuisinart ICE-70 Ice Cream Maker features ...   139.99

           category                                              image
0       Electronics  https://www.apple.com/newsroom/images/product/...
1       Electronics  https://images.samsung.com/is/image/samsung/p6...
2       Electronics  https://www.sony.com/image/44baa604124b770c824...
3       Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
4       Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
5       Electronics  https://www.fitbit.com/global/content/dam/fitb...
6    Home & Kitchen  https://www.kitchenaid.com/content/dam/global/...
7   Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
8    Home & Kitchen  https://www.ninjakitchen.com/medias/Ninja-OP50...
9       Electronics  https://www.canon.com.au/-/media/images/produc...
10      Electronics  https://www.apple.com/v/airpods-pro/b/images/m...
11      Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
12      Electronics  https://www.fitbit.com/global/content/dam/fitb...
13      Electronics  https://images.samsung.com/is/image/samsung/as...
14      Electronics  https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15   Home & Kitchen  https://www.breville.com/content/dam/breville/...
16   Home & Kitchen  https://www.keurig.com/content/dam/global-ecom...
17   Home & Kitchen  https://store.irobot.com/default/i7-vacuuming-...
18   Home & Kitchen  https://www.ninjakitchen.com/static/img/produc...
19   Home & Kitchen  https://www.cuisinart.com/share/images/product...

### Read data from Excel file into dataframe

In [4]:
df_excel = pd.read_excel("SampleSuperstore.xlsx")
print(df_excel)

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]

### Creating Dataframe

In [5]:
data = {
    "Name": ["Ram", "Shyam", "Ghanshyam", "Rupa", "Dev"],
    "Age": [10, 20, 22, 28, 25],
    "City": ['Mumbai', 'Toronto', 'Delhi', 'Delhi', 'Hyderabad']
}

df = pd.DataFrame(data)
print(df)

        Name  Age       City
0        Ram   10     Mumbai
1      Shyam   20    Toronto
2  Ghanshyam   22      Delhi
3       Rupa   28      Delhi
4        Dev   25  Hyderabad

### Saving data into CSV, JSON and Excel file

In [6]:
df.to_csv("CSVOutput.csv", index=False)
df.to_json("JSONOutput.json", index=False)
df.to_excel("ExcelOutput.xlsx", index=False)

### Exploring data
- Understand the dataset
- Identify the problems
- Plan next steps

In [7]:
# head(n) display first n rows
# tail(n) display last n rows
# default n = 5

print("Displaying first 10 rows")
print(df_csv.head(10))

print("Displaying last 10 rows")
print(df_csv.tail(10))

Displaying first 10 rows
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27
5        10168               36      96.66                1  3479.76
6        10180               29      86.13                9  2497.77
7        10188               48     100.00                1  5512.32
8        10201               22      98.57                2  2168.54
9        10211               41     100.00               14  4708.44

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...
5  10/28/2003 0:00  Shipped       4        10     2003  ...
6  11/11/2003 0:00  Shipped       4        11     2003  ...
7  11/18/2003 0:00  Shipped       4        11     2003  ...
8   12/1/2003 0:00  Shipped       4        12     2003  ...
9   1/15/2004 0:00  Shipped       1         1     2004  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA
5              9408 Furth Circle           NaN     Burlingame    CA
6        184, chausse de Tournai           NaN          Lille   NaN
7    Drammen 121, PR 744 Sentrum           NaN         Bergen   NaN
8      5557 North Pendale Street           NaN  San Francisco    CA
9              25, rue Lauriston           NaN          Paris   NaN

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium
5      94217     USA       NaN          Hirano             Juri   Medium
6      59000  France      EMEA           Rance          Martine    Small
7     N 5804  Norway      EMEA          Oeztan           Veysel   Medium
8        NaN     USA       NaN          Murphy            Julie    Small
9      75016  France      EMEA         Perrier        Dominique   Medium

[10 rows x 25 columns]
Displaying last 10 rows
      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
2813        10293               32      60.06                1  1921.92
2814        10306               35      59.51                6  2082.85
2815        10315               40      55.69                5  2227.60
2816        10327               37      86.74                4  3209.38
2817        10337               42      97.16                5  4080.72
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
2813    9/9/2004 0:00   Shipped       3         9     2004  ...
2814  10/14/2004 0:00   Shipped       4        10     2004  ...
2815  10/29/2004 0:00   Shipped       4        10     2004  ...
2816  11/10/2004 0:00  Resolved       4        11     2004  ...
2817  11/21/2004 0:00   Shipped       4        11     2004  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                      ADDRESSLINE1  ADDRESSLINE2        CITY STATE POSTALCODE  \
2813           Via Monte Bianco 34           NaN      Torino   NaN      10100
2814             Fauntleroy Circus           NaN  Manchester   NaN    EC2 5NT
2815  67, rue des Cinquante Otages           NaN      Nantes   NaN      44000
2816                  Vinb'ltet 34           NaN   Kobenhavn   NaN       1734
2817              5905 Pompton St.     Suite 750         NYC    NY      10022
2818            C/ Moralzarzal, 86           NaN      Madrid   NaN      28034
2819                   Torikatu 38           NaN        Oulu   NaN      90110
2820            C/ Moralzarzal, 86           NaN      Madrid   NaN      28034
2821         1 rue Alsace-Lorraine           NaN    Toulouse   NaN      31000
2822            8616 Spinnaker Dr.           NaN      Boston    MA      51003

      COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
2813    Italy      EMEA         Accorti            Paolo    Small
2814       UK      EMEA        Ashworth         Victoria    Small
2815   France      EMEA         Labrune           Janine    Small
2816  Denmark      EMEA        Petersen            Jytte   Medium
2817      USA       NaN       Hernandez            Maria   Medium
2818    Spain      EMEA          Freyre            Diego    Small
2819  Finland      EMEA       Koskitalo           Pirkko   Medium
2820    Spain      EMEA          Freyre            Diego   Medium
2821   France      EMEA          Roulet          Annette    Small
2822      USA       NaN         Yoshido             Juri   Medium

[10 rows x 25 columns]

### Dataset information
- Number of rows and columns
- Column names
- Column dataType
- Non null counts
- Memory usage of data frame

In [8]:
print(df_csv.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB
None

### Descriptive Statistics .describe()
- Counts: Number of non null rows
- Means: Average of values in each column
- Std: Variation from mean value
- Min: Minimum value in each column
- 25%, 50%, 75%: After sorting, The median value or the value that divides 25%, 50%, 75% of dataset
- Max: Maximum value in each column

In [9]:
print(df_csv.describe())

        ORDERNUMBER  QUANTITYORDERED    PRICEEACH  ORDERLINENUMBER  \
count   2823.000000      2823.000000  2823.000000      2823.000000
mean   10258.725115        35.092809    83.658544         6.466171
std       92.085478         9.741443    20.174277         4.225841
min    10100.000000         6.000000    26.880000         1.000000
25%    10180.000000        27.000000    68.860000         3.000000
50%    10262.000000        35.000000    95.700000         6.000000
75%    10333.500000        43.000000   100.000000         9.000000
max    10425.000000        97.000000   100.000000        18.000000

              SALES       QTR_ID     MONTH_ID     YEAR_ID         MSRP
count   2823.000000  2823.000000  2823.000000  2823.00000  2823.000000
mean    3553.889072     2.717676     7.092455  2003.81509   100.715551
std     1841.865106     1.203878     3.656633     0.69967    40.187912
min      482.130000     1.000000     1.000000  2003.00000    33.000000
25%     2203.430000     2.000000     4.000000  2003.00000    68.000000
50%     3184.800000     3.000000     8.000000  2004.00000    99.000000
75%     4508.000000     4.000000    11.000000  2004.00000   124.000000
max    14082.800000     4.000000    12.000000  2005.00000   214.000000

### Before Analysing you need to know atleast 2 things
- How big is your dataset
- What are the names of the columns

In [10]:
print(df_csv.shape)
print(df_csv.columns)

(2823, 25)
Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

### Selecting columns and Filtering rows based on conditions

In [11]:
subset = df_csv[['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERDATE', 'STATUS']]
print(subset)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH        ORDERDATE    STATUS
0           10107               30      95.70   2/24/2003 0:00   Shipped
1           10121               34      81.35    5/7/2003 0:00   Shipped
2           10134               41      94.74    7/1/2003 0:00   Shipped
3           10145               45      83.26   8/25/2003 0:00   Shipped
4           10159               49     100.00  10/10/2003 0:00   Shipped
...           ...              ...        ...              ...       ...
2818        10350               20     100.00   12/2/2004 0:00   Shipped
2819        10373               29     100.00   1/31/2005 0:00   Shipped
2820        10386               43     100.00    3/1/2005 0:00  Resolved
2821        10397               34      62.24   3/28/2005 0:00   Shipped
2822        10414               47      65.52    5/6/2005 0:00   On Hold

[2823 rows x 5 columns]

In [12]:
filtered_rows = df_csv[(df_csv['STATUS'] == "On Hold") & (df_csv['COUNTRY'] == "USA")]
print(filtered_rows)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER     SALES  \
132         10414               19     100.00                3   2764.88
550         10407               59     100.00               11   7048.14
598         10407               76     100.00                2  14082.80
700         10407               42      72.65                1   3051.30
802         10401               42      76.03                3   3193.26
879         10407               41     100.00               12   6386.16
960         10414               44      73.98                1   3255.12
1012        10414               41     100.00               12   4872.03
1089        10414               48     100.00               14   5808.48
1287        10407                6      90.19                3    541.14
1314        10414               16      75.48               11   1207.68
1413        10407               66      66.99                4   4421.34
1436        10407               26      76.43                8   1987.18
1514        10407               64      40.25               10   2576.00
1537        10401               38      96.29                5   3659.02
1615        10414               23     100.00               10   3335.23
1714        10407               76      94.50                6   7182.00
1790        10407               59      98.65                5   5820.35
1844        10414               60     100.00                5   6107.40
1866        10407               13      81.33                7   1057.29
1942        10407               43      86.73                9   3729.39
1969        10414               51      76.31                2   3891.81
2022        10401               64      60.05               12   3843.20
2120        10401               52      81.14                4   4219.28
2195        10401               49     100.00                1   4992.61
2325        10401               62      77.73                6   4819.26
2376        10401               56      35.35                7   1979.60
2482        10414               37      71.34                6   2639.58
2507        10401               11     100.00                8   1135.31
2533        10414               34     100.00               13   3533.62
2586        10401               85      88.75               10   7543.75
2613        10414               31      75.89                4   2352.59
2664        10401               21      96.11                2   2018.31
2689        10401               77      92.00                9   7084.00
2716        10414               28     100.00                7   3029.04
2742        10414               27      90.37                8   2439.99
2768        10401               28      72.55               11   2031.40
2822        10414               47      65.52                9   3079.44

           ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
132    5/6/2005 0:00  On Hold       2         5     2005  ...
550   4/22/2005 0:00  On Hold       2         4     2005  ...
598   4/22/2005 0:00  On Hold       2         4     2005  ...
700   4/22/2005 0:00  On Hold       2         4     2005  ...
802    4/3/2005 0:00  On Hold       2         4     2005  ...
879   4/22/2005 0:00  On Hold       2         4     2005  ...
960    5/6/2005 0:00  On Hold       2         5     2005  ...
1012   5/6/2005 0:00  On Hold       2         5     2005  ...
1089   5/6/2005 0:00  On Hold       2         5     2005  ...
1287  4/22/2005 0:00  On Hold       2         4     2005  ...
1314   5/6/2005 0:00  On Hold       2         5     2005  ...
1413  4/22/2005 0:00  On Hold       2         4     2005  ...
1436  4/22/2005 0:00  On Hold       2         4     2005  ...
1514  4/22/2005 0:00  On Hold       2         4     2005  ...
1537   4/3/2005 0:00  On Hold       2         4     2005  ...
1615   5/6/2005 0:00  On Hold       2         5     2005  ...
1714  4/22/2005 0:00  On Hold       2         4     2005  ...
1790  4/22/2005 0:00  On Hold       2         4     2005  ...
1844   5/6/2005 0:00  On Hold       2         5     2005  ...
1866  4/22/2005 0:00  On Hold       2         4     2005  ...
1942  4/22/2005 0:00  On Hold       2         4     2005  ...
1969   5/6/2005 0:00  On Hold       2         5     2005  ...
2022   4/3/2005 0:00  On Hold       2         4     2005  ...
2120   4/3/2005 0:00  On Hold       2         4     2005  ...
2195   4/3/2005 0:00  On Hold       2         4     2005  ...
2325   4/3/2005 0:00  On Hold       2         4     2005  ...
2376   4/3/2005 0:00  On Hold       2         4     2005  ...
2482   5/6/2005 0:00  On Hold       2         5     2005  ...
2507   4/3/2005 0:00  On Hold       2         4     2005  ...
2533   5/6/2005 0:00  On Hold       2         5     2005  ...
2586   4/3/2005 0:00  On Hold       2         4     2005  ...
2613   5/6/2005 0:00  On Hold       2         5     2005  ...
2664   4/3/2005 0:00  On Hold       2         4     2005  ...
2689   4/3/2005 0:00  On Hold       2         4     2005  ...
2716   5/6/2005 0:00  On Hold       2         5     2005  ...
2742   5/6/2005 0:00  On Hold       2         5     2005  ...
2768   4/3/2005 0:00  On Hold       2         4     2005  ...
2822   5/6/2005 0:00  On Hold       2         5     2005  ...

            ADDRESSLINE1  ADDRESSLINE2      CITY STATE POSTALCODE COUNTRY  \
132   8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
550       3086 Ingle Ln.           NaN  San Jose    CA      94217     USA
598       3086 Ingle Ln.           NaN  San Jose    CA      94217     USA
700       3086 Ingle Ln.           NaN  San Jose    CA      94217     USA
802        7476 Moss Rd.           NaN    Newark    NJ      94019     USA
879       3086 Ingle Ln.           NaN  San Jose    CA      94217     USA
960   8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
1012  8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
1089  8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
1287      3086 Ingle Ln.           NaN  San Jose    CA      94217     USA
1314  8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
1413      3086 Ingle Ln.           NaN  San Jose    CA      94217     USA
1436      3086 Ingle Ln.           NaN  San Jose    CA      94217     USA
1514      3086 Ingle Ln.           NaN  San Jose    CA      94217     USA
1537       7476 Moss Rd.           NaN    Newark    NJ      94019     USA
1615  8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
1714      3086 Ingle Ln.           NaN  San Jose    CA      94217     USA
1790      3086 Ingle Ln.           NaN  San Jose    CA      94217     USA
1844  8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
1866      3086 Ingle Ln.           NaN  San Jose    CA      94217     USA
1942      3086 Ingle Ln.           NaN  San Jose    CA      94217     USA
1969  8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
2022       7476 Moss Rd.           NaN    Newark    NJ      94019     USA
2120       7476 Moss Rd.           NaN    Newark    NJ      94019     USA
2195       7476 Moss Rd.           NaN    Newark    NJ      94019     USA
2325       7476 Moss Rd.           NaN    Newark    NJ      94019     USA
2376       7476 Moss Rd.           NaN    Newark    NJ      94019     USA
2482  8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
2507       7476 Moss Rd.           NaN    Newark    NJ      94019     USA
2533  8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
2586       7476 Moss Rd.           NaN    Newark    NJ      94019     USA
2613  8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
2664       7476 Moss Rd.           NaN    Newark    NJ      94019     USA
2689       7476 Moss Rd.           NaN    Newark    NJ      94019     USA
2716  8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
2742  8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA
2768       7476 Moss Rd.           NaN    Newark    NJ      94019     USA
2822  8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA

     TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
132        NaN         Yoshido             Juri    Small
550        NaN           Frick              Sue    Large
598        NaN           Frick              Sue    Large
700        NaN           Frick              Sue   Medium
802        NaN           Brown          William   Medium
879        NaN           Frick              Sue   Medium
960        NaN         Yoshido             Juri   Medium
1012       NaN         Yoshido             Juri   Medium
1089       NaN         Yoshido             Juri   Medium
1287       NaN           Frick              Sue    Small
1314       NaN         Yoshido             Juri    Small
1413       NaN           Frick              Sue   Medium
1436       NaN           Frick              Sue    Small
1514       NaN           Frick              Sue    Small
1537       NaN           Brown          William   Medium
1615       NaN         Yoshido             Juri   Medium
1714       NaN           Frick              Sue    Large
1790       NaN           Frick              Sue   Medium
1844       NaN         Yoshido             Juri   Medium
1866       NaN           Frick              Sue    Small
1942       NaN           Frick              Sue   Medium
1969       NaN         Yoshido             Juri   Medium
2022       NaN           Brown          William   Medium
2120       NaN           Brown          William   Medium
2195       NaN           Brown          William   Medium
2325       NaN           Brown          William   Medium
2376       NaN           Brown          William    Small
2482       NaN         Yoshido             Juri    Small
2507       NaN           Brown          William    Small
2533       NaN         Yoshido             Juri   Medium
2586       NaN           Brown          William    Large
2613       NaN         Yoshido             Juri    Small
2664       NaN           Brown          William    Small
2689       NaN           Brown          William    Large
2716       NaN         Yoshido             Juri   Medium
2742       NaN         Yoshido             Juri    Small
2768       NaN           Brown          William    Small
2822       NaN         Yoshido             Juri   Medium

[38 rows x 25 columns]

### Selecting unique values of a column

In [13]:
print(df_csv['STATUS'].unique())

['Shipped' 'Disputed' 'In Process' 'Cancelled' 'On Hold' 'Resolved']

### Modifying Data
#### Adding Column

In [14]:
df_csv['HIKEDPRICE'] = df_csv['PRICEEACH'] + (df_csv['PRICEEACH'] * 0.10)
print(df_csv)

# using insert adding at particular index
df_csv.insert(3, "TAX", (df_csv['PRICEEACH'] * 0.10))
print(df_csv)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...          NaN
1       5/7/2003 0:00   Shipped       2         5     2003  ...          NaN
2       7/1/2003 0:00   Shipped       3         7     2003  ...          NaN
3      8/25/2003 0:00   Shipped       3         8     2003  ...          NaN
4     10/10/2003 0:00   Shipped       4        10     2003  ...          NaN
...               ...       ...     ...       ...      ...  ...          ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...          NaN
2819   1/31/2005 0:00   Shipped       1         1     2005  ...          NaN
2820    3/1/2005 0:00  Resolved       1         3     2005  ...          NaN
2821   3/28/2005 0:00   Shipped       1         3     2005  ...          NaN
2822    5/6/2005 0:00   On Hold       2         5     2005  ...          NaN

               CITY STATE POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME  \
0               NYC    NY      10022      USA       NaN              Yu
1             Reims   NaN      51100   France      EMEA         Henriot
2             Paris   NaN      75508   France      EMEA        Da Cunha
3          Pasadena    CA      90003      USA       NaN           Young
4     San Francisco    CA        NaN      USA       NaN           Brown
...             ...   ...        ...      ...       ...             ...
2818         Madrid   NaN      28034    Spain      EMEA          Freyre
2819           Oulu   NaN      90110  Finland      EMEA       Koskitalo
2820         Madrid   NaN      28034    Spain      EMEA          Freyre
2821       Toulouse   NaN      31000   France      EMEA          Roulet
2822         Boston    MA      51003      USA       NaN         Yoshido

     CONTACTFIRSTNAME DEALSIZE HIKEDPRICE
0                Kwai    Small    105.270
1                Paul    Small     89.485
2              Daniel   Medium    104.214
3               Julie   Medium     91.586
4               Julie   Medium    110.000
...               ...      ...        ...
2818            Diego    Small    110.000
2819           Pirkko   Medium    110.000
2820            Diego   Medium    110.000
2821          Annette    Small     68.464
2822             Juri   Medium     72.072

[2823 rows x 26 columns]
      ORDERNUMBER  QUANTITYORDERED  PRICEEACH     TAX  ORDERLINENUMBER  \
0           10107               30      95.70   9.570                2
1           10121               34      81.35   8.135                5
2           10134               41      94.74   9.474                2
3           10145               45      83.26   8.326                6
4           10159               49     100.00  10.000               14
...           ...              ...        ...     ...              ...
2818        10350               20     100.00  10.000               15
2819        10373               29     100.00  10.000                1
2820        10386               43     100.00  10.000                4
2821        10397               34      62.24   6.224                1
2822        10414               47      65.52   6.552                9

        SALES        ORDERDATE    STATUS  QTR_ID  MONTH_ID  ...  ADDRESSLINE2  \
0     2871.00   2/24/2003 0:00   Shipped       1         2  ...           NaN
1     2765.90    5/7/2003 0:00   Shipped       2         5  ...           NaN
2     3884.34    7/1/2003 0:00   Shipped       3         7  ...           NaN
3     3746.70   8/25/2003 0:00   Shipped       3         8  ...           NaN
4     5205.27  10/10/2003 0:00   Shipped       4        10  ...           NaN
...       ...              ...       ...     ...       ...  ...           ...
2818  2244.40   12/2/2004 0:00   Shipped       4        12  ...           NaN
2819  3978.51   1/31/2005 0:00   Shipped       1         1  ...           NaN
2820  5417.57    3/1/2005 0:00  Resolved       1         3  ...           NaN
2821  2116.16   3/28/2005 0:00   Shipped       1         3  ...           NaN
2822  3079.44    5/6/2005 0:00   On Hold       2         5  ...           NaN

               CITY  STATE POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME  \
0               NYC     NY      10022      USA       NaN              Yu
1             Reims    NaN      51100   France      EMEA         Henriot
2             Paris    NaN      75508   France      EMEA        Da Cunha
3          Pasadena     CA      90003      USA       NaN           Young
4     San Francisco     CA        NaN      USA       NaN           Brown
...             ...    ...        ...      ...       ...             ...
2818         Madrid    NaN      28034    Spain      EMEA          Freyre
2819           Oulu    NaN      90110  Finland      EMEA       Koskitalo
2820         Madrid    NaN      28034    Spain      EMEA          Freyre
2821       Toulouse    NaN      31000   France      EMEA          Roulet
2822         Boston     MA      51003      USA       NaN         Yoshido

     CONTACTFIRSTNAME DEALSIZE HIKEDPRICE
0                Kwai    Small    105.270
1                Paul    Small     89.485
2              Daniel   Medium    104.214
3               Julie   Medium     91.586
4               Julie   Medium    110.000
...               ...      ...        ...
2818            Diego    Small    110.000
2819           Pirkko   Medium    110.000
2820            Diego   Medium    110.000
2821          Annette    Small     68.464
2822             Juri   Medium     72.072

[2823 rows x 27 columns]

#### Updating data

In [15]:
# df.loc[row_index,column_name] = new_value
df_csv.loc[2819, 'DEALSIZE'] = 'Small'
print(df_csv)

# updating value of existing column
df_csv['PRICEEACH'] = df_csv['PRICEEACH'] + 2
print(df_csv)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH     TAX  ORDERLINENUMBER  \
0           10107               30      95.70   9.570                2
1           10121               34      81.35   8.135                5
2           10134               41      94.74   9.474                2
3           10145               45      83.26   8.326                6
4           10159               49     100.00  10.000               14
...           ...              ...        ...     ...              ...
2818        10350               20     100.00  10.000               15
2819        10373               29     100.00  10.000                1
2820        10386               43     100.00  10.000                4
2821        10397               34      62.24   6.224                1
2822        10414               47      65.52   6.552                9

        SALES        ORDERDATE    STATUS  QTR_ID  MONTH_ID  ...  ADDRESSLINE2  \
0     2871.00   2/24/2003 0:00   Shipped       1         2  ...           NaN
1     2765.90    5/7/2003 0:00   Shipped       2         5  ...           NaN
2     3884.34    7/1/2003 0:00   Shipped       3         7  ...           NaN
3     3746.70   8/25/2003 0:00   Shipped       3         8  ...           NaN
4     5205.27  10/10/2003 0:00   Shipped       4        10  ...           NaN
...       ...              ...       ...     ...       ...  ...           ...
2818  2244.40   12/2/2004 0:00   Shipped       4        12  ...           NaN
2819  3978.51   1/31/2005 0:00   Shipped       1         1  ...           NaN
2820  5417.57    3/1/2005 0:00  Resolved       1         3  ...           NaN
2821  2116.16   3/28/2005 0:00   Shipped       1         3  ...           NaN
2822  3079.44    5/6/2005 0:00   On Hold       2         5  ...           NaN

               CITY  STATE POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME  \
0               NYC     NY      10022      USA       NaN              Yu
1             Reims    NaN      51100   France      EMEA         Henriot
2             Paris    NaN      75508   France      EMEA        Da Cunha
3          Pasadena     CA      90003      USA       NaN           Young
4     San Francisco     CA        NaN      USA       NaN           Brown
...             ...    ...        ...      ...       ...             ...
2818         Madrid    NaN      28034    Spain      EMEA          Freyre
2819           Oulu    NaN      90110  Finland      EMEA       Koskitalo
2820         Madrid    NaN      28034    Spain      EMEA          Freyre
2821       Toulouse    NaN      31000   France      EMEA          Roulet
2822         Boston     MA      51003      USA       NaN         Yoshido

     CONTACTFIRSTNAME DEALSIZE HIKEDPRICE
0                Kwai    Small    105.270
1                Paul    Small     89.485
2              Daniel   Medium    104.214
3               Julie   Medium     91.586
4               Julie   Medium    110.000
...               ...      ...        ...
2818            Diego    Small    110.000
2819           Pirkko    Small    110.000
2820            Diego   Medium    110.000
2821          Annette    Small     68.464
2822             Juri   Medium     72.072

[2823 rows x 27 columns]
      ORDERNUMBER  QUANTITYORDERED  PRICEEACH     TAX  ORDERLINENUMBER  \
0           10107               30      97.70   9.570                2
1           10121               34      83.35   8.135                5
2           10134               41      96.74   9.474                2
3           10145               45      85.26   8.326                6
4           10159               49     102.00  10.000               14
...           ...              ...        ...     ...              ...
2818        10350               20     102.00  10.000               15
2819        10373               29     102.00  10.000                1
2820        10386               43     102.00  10.000                4
2821        10397               34      64.24   6.224                1
2822        10414               47      67.52   6.552                9

        SALES        ORDERDATE    STATUS  QTR_ID  MONTH_ID  ...  ADDRESSLINE2  \
0     2871.00   2/24/2003 0:00   Shipped       1         2  ...           NaN
1     2765.90    5/7/2003 0:00   Shipped       2         5  ...           NaN
2     3884.34    7/1/2003 0:00   Shipped       3         7  ...           NaN
3     3746.70   8/25/2003 0:00   Shipped       3         8  ...           NaN
4     5205.27  10/10/2003 0:00   Shipped       4        10  ...           NaN
...       ...              ...       ...     ...       ...  ...           ...
2818  2244.40   12/2/2004 0:00   Shipped       4        12  ...           NaN
2819  3978.51   1/31/2005 0:00   Shipped       1         1  ...           NaN
2820  5417.57    3/1/2005 0:00  Resolved       1         3  ...           NaN
2821  2116.16   3/28/2005 0:00   Shipped       1         3  ...           NaN
2822  3079.44    5/6/2005 0:00   On Hold       2         5  ...           NaN

               CITY  STATE POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME  \
0               NYC     NY      10022      USA       NaN              Yu
1             Reims    NaN      51100   France      EMEA         Henriot
2             Paris    NaN      75508   France      EMEA        Da Cunha
3          Pasadena     CA      90003      USA       NaN           Young
4     San Francisco     CA        NaN      USA       NaN           Brown
...             ...    ...        ...      ...       ...             ...
2818         Madrid    NaN      28034    Spain      EMEA          Freyre
2819           Oulu    NaN      90110  Finland      EMEA       Koskitalo
2820         Madrid    NaN      28034    Spain      EMEA          Freyre
2821       Toulouse    NaN      31000   France      EMEA          Roulet
2822         Boston     MA      51003      USA       NaN         Yoshido

     CONTACTFIRSTNAME DEALSIZE HIKEDPRICE
0                Kwai    Small    105.270
1                Paul    Small     89.485
2              Daniel   Medium    104.214
3               Julie   Medium     91.586
4               Julie   Medium    110.000
...               ...      ...        ...
2818            Diego    Small    110.000
2819           Pirkko    Small    110.000
2820            Diego   Medium    110.000
2821          Annette    Small     68.464
2822             Juri   Medium     72.072

[2823 rows x 27 columns]

#### Removing Column

In [16]:
# df.drop(columns=['column_name'], inplace=True)
# inplace mean modify in existing dataframe

df_csv.drop(columns=["HIKEDPRICE"], inplace=True)
print(df_csv)

df_csv.drop(columns=["TAX", "ORDERLINENUMBER"], inplace=True)
print(df_csv)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH     TAX  ORDERLINENUMBER  \
0           10107               30      97.70   9.570                2
1           10121               34      83.35   8.135                5
2           10134               41      96.74   9.474                2
3           10145               45      85.26   8.326                6
4           10159               49     102.00  10.000               14
...           ...              ...        ...     ...              ...
2818        10350               20     102.00  10.000               15
2819        10373               29     102.00  10.000                1
2820        10386               43     102.00  10.000                4
2821        10397               34      64.24   6.224                1
2822        10414               47      67.52   6.552                9

        SALES        ORDERDATE    STATUS  QTR_ID  MONTH_ID  ...  \
0     2871.00   2/24/2003 0:00   Shipped       1         2  ...
1     2765.90    5/7/2003 0:00   Shipped       2         5  ...
2     3884.34    7/1/2003 0:00   Shipped       3         7  ...
3     3746.70   8/25/2003 0:00   Shipped       3         8  ...
4     5205.27  10/10/2003 0:00   Shipped       4        10  ...
...       ...              ...       ...     ...       ...  ...
2818  2244.40   12/2/2004 0:00   Shipped       4        12  ...
2819  3978.51   1/31/2005 0:00   Shipped       1         1  ...
2820  5417.57    3/1/2005 0:00  Resolved       1         3  ...
2821  2116.16   3/28/2005 0:00   Shipped       1         3  ...
2822  3079.44    5/6/2005 0:00   On Hold       2         5  ...

                       ADDRESSLINE1 ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue          NaN            NYC    NY
1                59 rue de l'Abbaye          NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia          NaN          Paris   NaN
3                78934 Hillside Dr.          NaN       Pasadena    CA
4                   7734 Strong St.          NaN  San Francisco    CA
...                             ...          ...            ...   ...
2818             C/ Moralzarzal, 86          NaN         Madrid   NaN
2819                    Torikatu 38          NaN           Oulu   NaN
2820             C/ Moralzarzal, 86          NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine          NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.          NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko    Small
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 26 columns]
      ORDERNUMBER  QUANTITYORDERED  PRICEEACH    SALES        ORDERDATE  \
0           10107               30      97.70  2871.00   2/24/2003 0:00
1           10121               34      83.35  2765.90    5/7/2003 0:00
2           10134               41      96.74  3884.34    7/1/2003 0:00
3           10145               45      85.26  3746.70   8/25/2003 0:00
4           10159               49     102.00  5205.27  10/10/2003 0:00
...           ...              ...        ...      ...              ...
2818        10350               20     102.00  2244.40   12/2/2004 0:00
2819        10373               29     102.00  3978.51   1/31/2005 0:00
2820        10386               43     102.00  5417.57    3/1/2005 0:00
2821        10397               34      64.24  2116.16   3/28/2005 0:00
2822        10414               47      67.52  3079.44    5/6/2005 0:00

        STATUS  QTR_ID  MONTH_ID  YEAR_ID  PRODUCTLINE  ...  \
0      Shipped       1         2     2003  Motorcycles  ...
1      Shipped       2         5     2003  Motorcycles  ...
2      Shipped       3         7     2003  Motorcycles  ...
3      Shipped       3         8     2003  Motorcycles  ...
4      Shipped       4        10     2003  Motorcycles  ...
...        ...     ...       ...      ...          ...  ...
2818   Shipped       4        12     2004        Ships  ...
2819   Shipped       1         1     2005        Ships  ...
2820  Resolved       1         3     2005        Ships  ...
2821   Shipped       1         3     2005        Ships  ...
2822   On Hold       2         5     2005        Ships  ...

                       ADDRESSLINE1 ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue          NaN            NYC    NY
1                59 rue de l'Abbaye          NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia          NaN          Paris   NaN
3                78934 Hillside Dr.          NaN       Pasadena    CA
4                   7734 Strong St.          NaN  San Francisco    CA
...                             ...          ...            ...   ...
2818             C/ Moralzarzal, 86          NaN         Madrid   NaN
2819                    Torikatu 38          NaN           Oulu   NaN
2820             C/ Moralzarzal, 86          NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine          NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.          NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko    Small
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 24 columns]

### Handling Missing Data
- NAN (Not a number)
- None (for object data types)

In [17]:
# isNull()
# true = NAN is missing
# false = value is present

# df_csv.isnull()

df_csv.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

#### Removing missing data

In [18]:
# dropna()
# df_csv.dropna(axis=1, inplace=True)

#### filling missing data

In [19]:
# fillna()

# df_csv.fillna(0, inplace=True)
print(df_csv)

# filling specific column
# df_csv["POSTALCODE"].fillna(12345, inplace=True)
df_csv.fillna({"POSTALCODE": 12345}, inplace=True)
print(df_csv)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH    SALES        ORDERDATE  \
0           10107               30      97.70  2871.00   2/24/2003 0:00
1           10121               34      83.35  2765.90    5/7/2003 0:00
2           10134               41      96.74  3884.34    7/1/2003 0:00
3           10145               45      85.26  3746.70   8/25/2003 0:00
4           10159               49     102.00  5205.27  10/10/2003 0:00
...           ...              ...        ...      ...              ...
2818        10350               20     102.00  2244.40   12/2/2004 0:00
2819        10373               29     102.00  3978.51   1/31/2005 0:00
2820        10386               43     102.00  5417.57    3/1/2005 0:00
2821        10397               34      64.24  2116.16   3/28/2005 0:00
2822        10414               47      67.52  3079.44    5/6/2005 0:00

        STATUS  QTR_ID  MONTH_ID  YEAR_ID  PRODUCTLINE  ...  \
0      Shipped       1         2     2003  Motorcycles  ...
1      Shipped       2         5     2003  Motorcycles  ...
2      Shipped       3         7     2003  Motorcycles  ...
3      Shipped       3         8     2003  Motorcycles  ...
4      Shipped       4        10     2003  Motorcycles  ...
...        ...     ...       ...      ...          ...  ...
2818   Shipped       4        12     2004        Ships  ...
2819   Shipped       1         1     2005        Ships  ...
2820  Resolved       1         3     2005        Ships  ...
2821   Shipped       1         3     2005        Ships  ...
2822   On Hold       2         5     2005        Ships  ...

                       ADDRESSLINE1 ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue          NaN            NYC    NY
1                59 rue de l'Abbaye          NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia          NaN          Paris   NaN
3                78934 Hillside Dr.          NaN       Pasadena    CA
4                   7734 Strong St.          NaN  San Francisco    CA
...                             ...          ...            ...   ...
2818             C/ Moralzarzal, 86          NaN         Madrid   NaN
2819                    Torikatu 38          NaN           Oulu   NaN
2820             C/ Moralzarzal, 86          NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine          NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.          NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko    Small
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 24 columns]
      ORDERNUMBER  QUANTITYORDERED  PRICEEACH    SALES        ORDERDATE  \
0           10107               30      97.70  2871.00   2/24/2003 0:00
1           10121               34      83.35  2765.90    5/7/2003 0:00
2           10134               41      96.74  3884.34    7/1/2003 0:00
3           10145               45      85.26  3746.70   8/25/2003 0:00
4           10159               49     102.00  5205.27  10/10/2003 0:00
...           ...              ...        ...      ...              ...
2818        10350               20     102.00  2244.40   12/2/2004 0:00
2819        10373               29     102.00  3978.51   1/31/2005 0:00
2820        10386               43     102.00  5417.57    3/1/2005 0:00
2821        10397               34      64.24  2116.16   3/28/2005 0:00
2822        10414               47      67.52  3079.44    5/6/2005 0:00

        STATUS  QTR_ID  MONTH_ID  YEAR_ID  PRODUCTLINE  ...  \
0      Shipped       1         2     2003  Motorcycles  ...
1      Shipped       2         5     2003  Motorcycles  ...
2      Shipped       3         7     2003  Motorcycles  ...
3      Shipped       3         8     2003  Motorcycles  ...
4      Shipped       4        10     2003  Motorcycles  ...
...        ...     ...       ...      ...          ...  ...
2818   Shipped       4        12     2004        Ships  ...
2819   Shipped       1         1     2005        Ships  ...
2820  Resolved       1         3     2005        Ships  ...
2821   Shipped       1         3     2005        Ships  ...
2822   On Hold       2         5     2005        Ships  ...

                       ADDRESSLINE1 ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue          NaN            NYC    NY
1                59 rue de l'Abbaye          NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia          NaN          Paris   NaN
3                78934 Hillside Dr.          NaN       Pasadena    CA
4                   7734 Strong St.          NaN  San Francisco    CA
...                             ...          ...            ...   ...
2818             C/ Moralzarzal, 86          NaN         Madrid   NaN
2819                    Torikatu 38          NaN           Oulu   NaN
2820             C/ Moralzarzal, 86          NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine          NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.          NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4         12345      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko    Small
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 24 columns]

### Interpolation

Estimating new data points between known values using various mathematical techniques

In [20]:
sample_data = {
    "Time": [1, 2, 3, 4, 5],
    "Value": [10, None, 30, None, 50]
}

df_sample = pd.DataFrame(sample_data)
print(df_sample.dtypes)
print(df_sample)

df_sample['Value'] = df_sample['Value'].interpolate(method='linear')
print(df_sample)

Time       int64
Value    float64
dtype: object
   Time  Value
0     1   10.0
1     2    NaN
2     3   30.0
3     4    NaN
4     5   50.0
   Time  Value
0     1   10.0
1     2   20.0
2     3   30.0
3     4   40.0
4     5   50.0

In [21]:
data = [
    {"name": "Ali", "age": 24, "salary": 42000},
    {"name": "Sara", "age": 31, "salary": 68000},
    {"name": "Ahmed", "age": 27, "salary": 51000},
    {"name": "Ayesha", "age": 35, "salary": 82000},
    {"name": "Bilal", "age": 29, "salary": 59000},
    {"name": "Fatima", "age": 26, "salary": 48000},
    {"name": "Usman", "age": 41, "salary": 95000},
    {"name": "Hira", "age": 23, "salary": 40000},
    {"name": "Hamza", "age": 34, "salary": 78000},
    {"name": "Noor", "age": 28, "salary": 56000},
    {"name": "Zain", "age": 37, "salary": 88000},
    {"name": "Iqra", "age": 25, "salary": 45000},
    {"name": "Omar", "age": 32, "salary": 72000},
    {"name": "Maryam", "age": 30, "salary": 65000},
    {"name": "Hassan", "age": 45, "salary": 110000},
    {"name": "Sana", "age": 27, "salary": 52000},
    {"name": "Saad", "age": 39, "salary": 90000},
    {"name": "Anum", "age": 22, "salary": 38000},
    {"name": "Danish", "age": 33, "salary": 74000},
    {"name": "Laiba", "age": 29, "salary": 60000},
    {"name": "Farhan", "age": 36, "salary": 83000},
    {"name": "Khadija", "age": 24, "salary": 43000},
    {"name": "Imran", "age": 42, "salary": 98000},
    {"name": "Mehak", "age": 31, "salary": 69000},
    {"name": "Rizwan", "age": 35, "salary": 81000},
    {"name": "Nimra", "age": 26, "salary": 47000},
    {"name": "Shahzaib", "age": 28, "salary": 58000},
    {"name": "Areeba", "age": 34, "salary": 77000},
    {"name": "Kashif", "age": 40, "salary": 92000},
    {"name": "Amna", "age": 23, "salary": 39000},
    {"name": "Talha", "age": 27, "salary": 54000},
    {"name": "Zoya", "age": 32, "salary": 71000},
    {"name": "Naveed", "age": 38, "salary": 87000},
    {"name": "Maham", "age": 25, "salary": 46000},
    {"name": "Asad", "age": 44, "salary": 105000},
    {"name": "Rabia", "age": 29, "salary": 61000},
    {"name": "Adnan", "age": 37, "salary": 86000},
    {"name": "Eman", "age": 21, "salary": 36000},
    {"name": "Faisal", "age": 41, "salary": 97000},
    {"name": "Hafsa", "age": 33, "salary": 75000},
    {"name": "Junaid", "age": 26, "salary": 49000},
    {"name": "Aiman", "age": 28, "salary": 57000},
    {"name": "Waqas", "age": 35, "salary": 80000},
    {"name": "Hania", "age": 24, "salary": 44000},
    {"name": "Arslan", "age": 39, "salary": 91000},
    {"name": "Misha", "age": 30, "salary": 66000},
    {"name": "Yasir", "age": 43, "salary": 102000},
    {"name": "Sidra", "age": 27, "salary": 53000},
    {"name": "Salman", "age": 34, "salary": 79000},
    {"name": "Komal", "age": 22, "salary": 37000}
]

df_data = pd.DataFrame(data)
print(df_data)

        name  age  salary
0        Ali   24   42000
1       Sara   31   68000
2      Ahmed   27   51000
3     Ayesha   35   82000
4      Bilal   29   59000
5     Fatima   26   48000
6      Usman   41   95000
7       Hira   23   40000
8      Hamza   34   78000
9       Noor   28   56000
10      Zain   37   88000
11      Iqra   25   45000
12      Omar   32   72000
13    Maryam   30   65000
14    Hassan   45  110000
15      Sana   27   52000
16      Saad   39   90000
17      Anum   22   38000
18    Danish   33   74000
19     Laiba   29   60000
20    Farhan   36   83000
21   Khadija   24   43000
22     Imran   42   98000
23     Mehak   31   69000
24    Rizwan   35   81000
25     Nimra   26   47000
26  Shahzaib   28   58000
27    Areeba   34   77000
28    Kashif   40   92000
29      Amna   23   39000
30     Talha   27   54000
31      Zoya   32   71000
32    Naveed   38   87000
33     Maham   25   46000
34      Asad   44  105000
35     Rabia   29   61000
36     Adnan   37   86000
37      Eman   21   36000
38    Faisal   41   97000
39     Hafsa   33   75000
40    Junaid   26   49000
41     Aiman   28   57000
42     Waqas   35   80000
43     Hania   24   44000
44    Arslan   39   91000
45     Misha   30   66000
46     Yasir   43  102000
47     Sidra   27   53000
48    Salman   34   79000
49     Komal   22   37000

### Sorting

In [22]:
# Single column
df_data.sort_values(by=["name"], ascending=True, inplace=True)
print(df_data)

        name  age  salary
36     Adnan   37   86000
2      Ahmed   27   51000
41     Aiman   28   57000
0        Ali   24   42000
29      Amna   23   39000
17      Anum   22   38000
27    Areeba   34   77000
44    Arslan   39   91000
34      Asad   44  105000
3     Ayesha   35   82000
4      Bilal   29   59000
18    Danish   33   74000
37      Eman   21   36000
38    Faisal   41   97000
20    Farhan   36   83000
5     Fatima   26   48000
39     Hafsa   33   75000
8      Hamza   34   78000
43     Hania   24   44000
14    Hassan   45  110000
7       Hira   23   40000
22     Imran   42   98000
11      Iqra   25   45000
40    Junaid   26   49000
28    Kashif   40   92000
21   Khadija   24   43000
49     Komal   22   37000
19     Laiba   29   60000
33     Maham   25   46000
13    Maryam   30   65000
23     Mehak   31   69000
45     Misha   30   66000
32    Naveed   38   87000
25     Nimra   26   47000
9       Noor   28   56000
12      Omar   32   72000
35     Rabia   29   61000
24    Rizwan   35   81000
16      Saad   39   90000
48    Salman   34   79000
15      Sana   27   52000
1       Sara   31   68000
26  Shahzaib   28   58000
47     Sidra   27   53000
30     Talha   27   54000
6      Usman   41   95000
42     Waqas   35   80000
46     Yasir   43  102000
10      Zain   37   88000
31      Zoya   32   71000

In [23]:
# Multiple columns
df_data.sort_values(by=["name", "age"], ascending=[True, True], inplace=True)
print(df_data)

        name  age  salary
36     Adnan   37   86000
2      Ahmed   27   51000
41     Aiman   28   57000
0        Ali   24   42000
29      Amna   23   39000
17      Anum   22   38000
27    Areeba   34   77000
44    Arslan   39   91000
34      Asad   44  105000
3     Ayesha   35   82000
4      Bilal   29   59000
18    Danish   33   74000
37      Eman   21   36000
38    Faisal   41   97000
20    Farhan   36   83000
5     Fatima   26   48000
39     Hafsa   33   75000
8      Hamza   34   78000
43     Hania   24   44000
14    Hassan   45  110000
7       Hira   23   40000
22     Imran   42   98000
11      Iqra   25   45000
40    Junaid   26   49000
28    Kashif   40   92000
21   Khadija   24   43000
49     Komal   22   37000
19     Laiba   29   60000
33     Maham   25   46000
13    Maryam   30   65000
23     Mehak   31   69000
45     Misha   30   66000
32    Naveed   38   87000
25     Nimra   26   47000
9       Noor   28   56000
12      Omar   32   72000
35     Rabia   29   61000
24    Rizwan   35   81000
16      Saad   39   90000
48    Salman   34   79000
15      Sana   27   52000
1       Sara   31   68000
26  Shahzaib   28   58000
47     Sidra   27   53000
30     Talha   27   54000
6      Usman   41   95000
42     Waqas   35   80000
46     Yasir   43  102000
10      Zain   37   88000
31      Zoya   32   71000

### Aggregation

In [24]:
# df['column_name'].mean()      calculate average value
# df['column_name'].sum()       add all values
# df['column_name'].min()       returns minimum value
# df['column_name'].max()       returns maximum value
# df['column_name'].count()     returns the count of non NaN values
# df['column_name'].std()       returns std

avg_salary = df_data['salary'].mean()
print(avg_salary)

67520.0

### Grouping data

In [25]:
# Single
grouped_single = df_data.groupby("age")["salary"].sum()
print(grouped_single)

# Multi
grouped_multi = df_data.groupby(["age", "name"])["salary"].sum()
print(grouped_multi)

age
21     36000
22     75000
23     79000
24    129000
25     91000
26    144000
27    210000
28    171000
29    180000
30    131000
31    137000
32    143000
33    149000
34    234000
35    243000
36     83000
37    174000
38     87000
39    181000
40     92000
41    192000
42     98000
43    102000
44    105000
45    110000
Name: salary, dtype: int64
age  name
21   Eman         36000
22   Anum         38000
     Komal        37000
23   Amna         39000
     Hira         40000
24   Ali          42000
     Hania        44000
     Khadija      43000
25   Iqra         45000
     Maham        46000
26   Fatima       48000
     Junaid       49000
     Nimra        47000
27   Ahmed        51000
     Sana         52000
     Sidra        53000
     Talha        54000
28   Aiman        57000
     Noor         56000
     Shahzaib     58000
29   Bilal        59000
     Laiba        60000
     Rabia        61000
30   Maryam       65000
     Misha        66000
31   Mehak        69000
     Sara         68000
32   Omar         72000
     Zoya         71000
33   Danish       74000
     Hafsa        75000
34   Areeba       77000
     Hamza        78000
     Salman       79000
35   Ayesha       82000
     Rizwan       81000
     Waqas        80000
36   Farhan       83000
37   Adnan        86000
     Zain         88000
38   Naveed       87000
39   Arslan       91000
     Saad         90000
40   Kashif       92000
41   Faisal       97000
     Usman        95000
42   Imran        98000
43   Yasir       102000
44   Asad        105000
45   Hassan      110000
Name: salary, dtype: int64

In [26]:
# Customer Data

data_1 = [
    {"customer_id": 201, "customer_name": "Ali", "order_amount": 250},
    {"customer_id": 202, "customer_name": "Sara", "order_amount": 180},
    {"customer_id": 203, "customer_name": "Ahmed", "order_amount": 320},
    {"customer_id": 204, "customer_name": "Ayesha", "order_amount": 150},
    {"customer_id": 205, "customer_name": "Bilal", "order_amount": 400},
    {"customer_id": 206, "customer_name": "Fatima", "order_amount": 220},
    {"customer_id": 207, "customer_name": "Usman", "order_amount": 500},
    {"customer_id": 208, "customer_name": "Hira", "order_amount": 130},
    {"customer_id": 209, "customer_name": "Hamza", "order_amount": 350},
    {"customer_id": 210, "customer_name": "Noor", "order_amount": 275},
    {"customer_id": 211, "customer_name": "Zain", "order_amount": 310},
    {"customer_id": 212, "customer_name": "Iqra", "order_amount": 190},
    {"customer_id": 213, "customer_name": "Omar", "order_amount": 450},
    {"customer_id": 214, "customer_name": "Maryam", "order_amount": 210},
    {"customer_id": 215, "customer_name": "Hassan", "order_amount": 600}
]

# Dataset 2 (same customer_id for overlapping customers)
data_2 = [
    {"customer_id": 208, "customer_name": "Hira", "order_amount": 160},
    {"customer_id": 210, "customer_name": "Noor", "order_amount": 290},
    {"customer_id": 213, "customer_name": "Omar", "order_amount": 480},
    {"customer_id": 215, "customer_name": "Hassan", "order_amount": 620},
    {"customer_id": 201, "customer_name": "Ali", "order_amount": 270},
    {"customer_id": 216, "customer_name": "Sana", "order_amount": 200},
    {"customer_id": 217, "customer_name": "Saad", "order_amount": 330},
    {"customer_id": 218, "customer_name": "Anum", "order_amount": 140},
    {"customer_id": 219, "customer_name": "Danish", "order_amount": 360},
    {"customer_id": 220, "customer_name": "Laiba", "order_amount": 230},
    {"customer_id": 221, "customer_name": "Farhan", "order_amount": 410},
    {"customer_id": 222, "customer_name": "Khadija", "order_amount": 175},
    {"customer_id": 223, "customer_name": "Imran", "order_amount": 520},
    {"customer_id": 224, "customer_name": "Mehak", "order_amount": 260},
    {"customer_id": 225, "customer_name": "Rizwan", "order_amount": 390}
]

df_1 = pd.DataFrame(data_1)
df_2 = pd.DataFrame(data_2)

df_1.drop(columns=["order_amount"], inplace=True)
df_2.drop(columns=["customer_name"], inplace=True)
print(df_1)
print(df_2)

    customer_id customer_name
0           201           Ali
1           202          Sara
2           203         Ahmed
3           204        Ayesha
4           205         Bilal
5           206        Fatima
6           207         Usman
7           208          Hira
8           209         Hamza
9           210          Noor
10          211          Zain
11          212          Iqra
12          213          Omar
13          214        Maryam
14          215        Hassan
    customer_id  order_amount
0           208           160
1           210           290
2           213           480
3           215           620
4           201           270
5           216           200
6           217           330
7           218           140
8           219           360
9           220           230
10          221           410
11          222           175
12          223           520
13          224           260
14          225           390

### Merging
- Merging columns of two data frames

In [27]:
# pd.merge(df1,df2, on="Common_Column_Name", how="Type of join")

# Inner Join
df_merged = pd.merge(df_1, df_2, on="customer_id", how="inner")
print("Inner Join")
print(df_merged)

Inner Join
   customer_id customer_name  order_amount
0          201           Ali           270
1          208          Hira           160
2          210          Noor           290
3          213          Omar           480
4          215        Hassan           620

In [28]:
# Outer Join
df_merged = pd.merge(df_1, df_2, on="customer_id", how="outer")
print("Outer Join")
print(df_merged)

Outer Join
    customer_id customer_name  order_amount
0           201           Ali         270.0
1           202          Sara           NaN
2           203         Ahmed           NaN
3           204        Ayesha           NaN
4           205         Bilal           NaN
5           206        Fatima           NaN
6           207         Usman           NaN
7           208          Hira         160.0
8           209         Hamza           NaN
9           210          Noor         290.0
10          211          Zain           NaN
11          212          Iqra           NaN
12          213          Omar         480.0
13          214        Maryam           NaN
14          215        Hassan         620.0
15          216           NaN         200.0
16          217           NaN         330.0
17          218           NaN         140.0
18          219           NaN         360.0
19          220           NaN         230.0
20          221           NaN         410.0
21          222           NaN         175.0
22          223           NaN         520.0
23          224           NaN         260.0
24          225           NaN         390.0

In [29]:
# Right Join
df_merged = pd.merge(df_1, df_2, on="customer_id", how="right")
print("Right Join")
print(df_merged)

Right Join
    customer_id customer_name  order_amount
0           208          Hira           160
1           210          Noor           290
2           213          Omar           480
3           215        Hassan           620
4           201           Ali           270
5           216           NaN           200
6           217           NaN           330
7           218           NaN           140
8           219           NaN           360
9           220           NaN           230
10          221           NaN           410
11          222           NaN           175
12          223           NaN           520
13          224           NaN           260
14          225           NaN           390

In [30]:
# Left Join
df_merged = pd.merge(df_1, df_2, on="customer_id", how="left")
print("Left Join")
print(df_merged)

Left Join
    customer_id customer_name  order_amount
0           201           Ali         270.0
1           202          Sara           NaN
2           203         Ahmed           NaN
3           204        Ayesha           NaN
4           205         Bilal           NaN
5           206        Fatima           NaN
6           207         Usman           NaN
7           208          Hira         160.0
8           209         Hamza           NaN
9           210          Noor         290.0
10          211          Zain           NaN
11          212          Iqra           NaN
12          213          Omar         480.0
13          214        Maryam           NaN
14          215        Hassan         620.0

In [31]:
# Cross Join
# df_merged = pd.merge(df_1, df_2, on="customer_id",how="")
# print("Cross Join")
# print(df_merged)

In [32]:
data_region1 = [
    {"customer_id": 201, "customer_name": "Hira"},
    {"customer_id": 202, "customer_name": "Noor"},
    {"customer_id": 203, "customer_name": "Omar"},
    {"customer_id": 204, "customer_name": "Hassan"},
    {"customer_id": 205, "customer_name": "Ali"}]

data_region2 = [
    {"customer_id": 301, "customer_name": "Anum",},
    {"customer_id": 302, "customer_name": "Danish"},
    {"customer_id": 303, "customer_name": "Laiba",},
    {"customer_id": 304, "customer_name": "Farhan"},
    {"customer_id": 305, "customer_name": "Khadija"}]

df_region1 = pd.DataFrame(data_region1)
df_region2 = pd.DataFrame(data_region2)

### Concatenate
- Row-wise
- Column-wise

In [33]:
# pd.concat([df_1, df_2], axis=0, ignore_index=True/False, sort=True/False)
# axis = 0 Row-wise
# axis = 1 Column-wise

df_concat_column_wise = pd.concat([df_region1, df_region2], axis=1, ignore_index=True)
print(df_concat_column_wise)

df_concat_row_wise = pd.concat([df_region1, df_region2], axis=0, ignore_index=True, sort=True,)
print(df_concat_row_wise)

     0       1    2        3
0  201    Hira  301     Anum
1  202    Noor  302   Danish
2  203    Omar  303    Laiba
3  204  Hassan  304   Farhan
4  205     Ali  305  Khadija
   customer_id customer_name
0          201          Hira
1          202          Noor
2          203          Omar
3          204        Hassan
4          205           Ali
5          301          Anum
6          302        Danish
7          303         Laiba
8          304        Farhan
9          305       Khadija